 body {
    background-color: black;
    color: whitesmoke;
 }
 header {
    display: block;
    vertical-align: middle;
    text-align: center;
 }
 hr {
    height: 5px;
    
 }
 .nav, ul{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }
ul {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
 .nav li {
    display: inline-block;
    vertical-align: middle;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
 }
 .a {
    color: whitesmoke;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 18pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 a:hover {
    color: cornflowerblue;
 }
 a:active {
    color:darkred;
 }
 .over, h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: 20px;
    text-align: center;
 } 
 h2 {
    text-align: center;
    text-shadow: 1px 2px 3px whitesmoke;
    
 }
 .review {
    text-align: center;
    color: whitesmoke;
 }
 #kleinlogo {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
    display: block;
    border-radius: 15px;
 }
 footer {
    text-align: center;
    font-size: 10pt;
 }